Q1 - What's the main difference between a list and a tuple in Python? Give one example of each.
Ans - 
        list= 1. lists are mutable in pyton.
            2. list is formed using [] .
            3. list are slightly slow as they are mutable.
        ex - list = [1,2,3,4]



        Tuple= 1. tuples are immutable in python.
            2. tuples are fromed ising ().
            3. tuples are faster as they are immutable
        ex - tuple = (1,2,3,4)

Q2 - Explain what happens when you use the input() function in Python. What data type does it return,
and how would you convert it to an integer?

ans - when we use input()function it allows the user to input the data from his own side.
        it returns the string(str) data type. And we can change it to integer by simply putting the int before the input argument is passing.

Q3 - What are Python dictionaries? Write the syntax to create a dictionary with three key-value pairs.

ans- Python dictionaries are those datatypes that allows to store the data in  key value pairs
    shoes them in tabular format after passing it to dataframne in pandas module.

In [1]:
import pandas as pd
data= {'Name':['ram','shayam'],
       'class':['a','b'],
       'Roll no':[1,2]
      }
pd.DataFrame(data)

     Name class  Roll no
0     ram     a        1
1  shayam     b        2

Ans 4
loop in python allows the user to repeate the argument for many times as user required.
#for i in range(1,6):
in this statement 2 arguments were passed start and stop which follows n-1 approach for end value.

In [4]:
for i in range(1,6):
    print(i)

1
2
3
4
5

Ans 5
exception handeling is used to prevent the unexpected errors that don't allows code to move further
try= tells the program to that code is carring a error
except= it allows to handle the error
finally= this tells that the code have to run any how.

In [5]:
try:
    a= int(input('Enter no.'))
    b= int(input('Enter no. second '))
except:
    print('Give numbers only')

finally:
    print('Check integer')

Enter no. gd

Give numbers only
Check integer

ans6=
modules =  they are the predefine group of codes written in the python language 
used to support the user to reduse time of user.
there are more than 6 lakhs modules already present in python
and user can make his own module.


diff b/w 
import math is used to import the maths module into the code
and from math import sqrt is used to import the sqrt from the math module into the code
import pandas as pd # module calling
from pandas import Series # calling sub part of pandas

ans7=
OOPs in python is used in python as python is an object oriented programming lannguage(which have 4 pillars 
1. abstraction = shows only the limited data to user
2. Encapsulation = hides data inside object
3. Inheritance = child classes from the parent classes
4. polymorphism = one object but many forms (usage)

ans 8 =
list comprehension is the way to use loop in list

In [6]:
result = [x*2 for x in range(10) if x%2 == 0]

In [9]:
# Ans 9 =
def calculate_area(radius):
    pi = 3.14
    return pi * (radius ** 2)

area = calculate_area(12)
print('Area: ',area)

Area:  452.16

In [10]:
# ans= 10

name = input('Enter your name: ')
age = input('Enter your age: ')
print(f'Hello {name}, you are {age} years old!')

Enter your name:  Narender
Enter your age:  20

Hello Narender, you are 20 years old!

In [14]:
# ans 11
fruits = ['Apple', 'Banana', 'Mango', 'Orange', 'Grapes']
for i in range(len(fruits)):
    print(f'{i + 1}. {fruits[i]}')

1. Apple
2. Banana
3. Mango
4. Orange
5. Grapes

an

In [17]:
# ans 12
def grade_calculator(score):
    if 90 <= score <= 100:
        return 'A'
    elif 80 <= score < 90:
        return 'B'
    elif 70 <= score < 80:
        return 'C'
    elif 60 <= score < 70:
        return 'D'
    else:
        return 'F'

print(grade_calculator(95))  
print(grade_calculator(82))  
print(grade_calculator(58))

A
B
F

In [24]:
# ans 13 
# absent

In [15]:

# ans=14
class BankAccount:
    def __init__(self,name,balance):
        self.name = name
        self.balance = balance
    def deposit(self,amount):
        self.balance += amount
    def withdraw(self,amount):
        if amount <= self.balance:
            self.balance -= amount
        else:
            print('Insufficient balance')
    def display_balance(self):
        print(f"{self.name}, your current balance is {self.balance}")
account = BankAccount('Narender', 1000)
account.deposit(500)
account.withdraw(300)
account.withdraw(1500)
account.display_balance()

Insufficient balance
Narender, your current balance is 1200

In [23]:
# ans 15
for i in range(2, 51):
    count = 0
    for j in range(1, i + 1):
        if i % j == 0:
            count += 1
    if count == 2:
        print(i)

2
3
5
7
11
13
17
19
23
29
31
37
41
43
47