In [1]:
# Assessment_Day_5

In [4]:
import pymysql as py
conn = py.connect (user = 'root',
            password ='1234',
            host = 'localhost',
            autocommit = True)
print('Connect Created Successfully!!')

Connect Created Successfully!!

In [5]:
cur = conn.cursor()
print('done')

done

In [6]:
query = '''create database library_db;'''


cur.execute(query)
print('done')

done

In [7]:
query = '''USE library_db;'''
cur.execute(query)
print('done')

done

In [8]:
query = ("""
CREATE TABLE books (
    book_id int not null,
    title varchar(50),
    author varchar(50),
    price float
)
""")

cur.execute(query)
print('done')

done

In [9]:

query = ''' insert into books values
(110,"Wings of Fire", "A.P.J. Abdul Kalam", 250),
(111,"The Secret", "Rhonda Byrne", 300),
(112,"Python Made Easy", "John Smith", 400); '''
cur.execute(query)
print('done')

done

In [10]:
cur.execute("Select SUM(price) FROM books")
result = cur.fetchone()
total_price = result[0]

print(" Total price of all books is ₹", total_price)

 Total price of all books is ₹ 950.0

In [11]:
import pandas as pd

cur.execute("SELECT * FROM books")
rows = cur.fetchall()


df = pd.DataFrame(rows, columns=["book_id", "title", "author", "price"])


df.to_csv("books_data.csv", index=False)

print(" books_data.csv")
print('done')

 books_data.csv
done